.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 803px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -85px;
}

#u69
{
	z-index: 430;
	width: 1400px;
	padding-bottom: 4px;
	left: -100px;
}

#u406-4
{
	z-index: 478;
	width: 345px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 115px;
}

#u397
{
	z-index: 470;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1149px;
}

#u398
{
	z-index: 471;
	width: 18px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
}

#u1385
{
	z-index: 500;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1187px;
}

#u1386
{
	z-index: 501;
	width: 18px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
}

#u1379
{
	z-index: 482;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1225px;
}

#u1380
{
	z-index: 497;
	width: 18px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#u1382
{
	z-index: 498;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1263px;
}

#u1383
{
	z-index: 499;
	width: 18px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
}

#u74
{
	z-index: 431;
	width: 1400px;
	height: 70px;
	top: 30px;
	left: -100px;
}

#u75
{
	z-index: 432;
	width: 170px;
	height: 69px;
	top: 30px;
	left: 15px;
}

#u2917
{
	z-index: 490;
	width: 212px;
	top: 49px;
	left: 685px;
}

#u1371
{
	z-index: 491;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1372
{
	z-index: 496;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u420-4
{
	z-index: 492;
	width: 167px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 45px;
}

#u2914
{
	z-index: 483;
	width: 235px;
	top: 49px;
	left: 950px;
}

#u1375
{
	z-index: 488;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1376
{
	z-index: 489;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u432-4
{
	z-index: 484;
	width: 185px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 50px;
}

#u1370
{
	z-index: 429;
	width: 1400px;
	height: 50px;
	top: 99px;
	left: -100px;
}

#menuu82
{
	z-index: 433;
	width: 900px;
	top: 103px;
	left: 15px;
}

#u125
{
	width: 148px;
	min-height: 43px;
	margin-right: -10000px;
}

#u126
{
	width: 147px;
	padding-bottom: 29px;
}

#u136
{
	width: 148px;
	min-height: 43px;
	margin-right: -10000px;
	left: 150px;
}

#u139
{
	width: 147px;
	padding-bottom: 29px;
}

#u143
{
	width: 148px;
	min-height: 43px;
	margin-right: -10000px;
	left: 300px;
}

#u146
{
	width: 147px;
	padding-bottom: 29px;
}

#u157
{
	width: 148px;
	min-height: 43px;
	margin-right: -10000px;
	left: 450px;
}

#u160
{
	width: 147px;
	padding-bottom: 29px;
}

#u126.MuseMenuActive,#u139.MuseMenuActive,#u146.MuseMenuActive,#u160.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u128-4,#u142-4,#u149-4,#u163-4
{
	width: 147px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u164
{
	width: 149px;
	min-height: 43px;
	margin-right: -10000px;
	left: 600px;
}

#u165
{
	width: 148px;
	padding-bottom: 29px;
}

#u171
{
	width: 149px;
	min-height: 43px;
	margin-right: -10000px;
	left: 751px;
}

#u174
{
	width: 148px;
	padding-bottom: 29px;
}

#u165.MuseMenuActive,#u174.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u166-4,#u176-4
{
	width: 148px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u2916
{
	z-index: 472;
	width: 201px;
	top: 107px;
	left: 985px;
}

#u380
{
	z-index: 473;
	width: 199px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u380:hover
{
	width: 199px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u381-4
{
	z-index: 474;
	width: 171px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 14px;
}

#pu1675
{
	width: 0.01px;
	left: -100px;
	margin-top: 117px;
	position: relative;
}

#u1675
{
	z-index: 2;
	width: 1400px;
	border-color: #000000;
	background-color: #EDEDED;
	padding-bottom: 45px;
	position: relative;
	margin-right: -10000px;
}

#u1675_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
}

#u1676-4
{
	z-index: 3;
	width: 270px;
	min-height: 30px;
	text-align: left;
	font-size: 18px;
	color: #666666;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 115px;
}

#u1677-5
{
	z-index: 7;
	width: 235px;
	min-height: 20px;
	color: #999999;
	line-height: 20px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 115px;
}

#u1677
{
	color: #11BCF4;
}

#u1677-2
{
	color: #666666;
}

#pu1759
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 71px;
	position: relative;
}

#u1759
{
	z-index: 12;
	width: 800px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1678
{
	z-index: 13;
	width: 0.01px;
	height: 405px;
	position: relative;
}

#u1694
{
	z-index: 14;
	width: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 303px;
}

#u1696
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u1696:hover
{
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u1697
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	top: 51px;
}

#u1697:hover
{
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u1695
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	top: 103px;
}

#u1695:hover
{
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u1696.PamphletThumbSelected,#u1697.PamphletThumbSelected,#u1695.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u1679
{
	position: absolute;
	width: 800px;
}

#u1679popup
{
	z-index: 18;
}

#u1681
{
	z-index: 19;
	width: 800px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/eye-766166_1280-u1681-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1682
{
	z-index: 20;
	width: 800px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/operation-80124_1280-u1682-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1680
{
	z-index: 21;
	width: 800px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/ct-509938_1280-u1680-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1685
{
	position: absolute;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.1);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 12px;
	top: 179px;
	left: 17px;
	-pie-background: rgba(255, 255, 255, 0.1);
}

#u1686-4
{
	z-index: 23;
	width: 20px;
	min-height: 20px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u1683
{
	position: absolute;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.1);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 12px;
	top: 179px;
	left: 735px;
	-pie-background: rgba(255, 255, 255, 0.1);
}

#u1685:hover,#u1683:hover
{
	border-color: #999999;
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u1684-4
{
	z-index: 28;
	width: 20px;
	min-height: 20px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#ppu1713
{
	width: 0.01px;
	top: -35px;
	margin-bottom: -35px;
	position: relative;
}

#pu1713
{
	z-index: 41;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u1701-4
{
	z-index: 49;
	width: 152px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1715
{
	z-index: 58;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	left: 276px;
}

#u1710
{
	z-index: 53;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 235px;
}

#u1709-4
{
	z-index: 54;
	width: 75px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 260px;
}

#u1717-4
{
	z-index: 59;
	width: 114px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 384px;
}

#u1739
{
	z-index: 63;
	width: 70px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	background: #FFFFFF url("../images/11-u9721-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1746
{
	z-index: 64;
	width: 70px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #11BCF4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 697px;
}

#u1747-6
{
	z-index: 65;
	width: 70px;
	min-height: 46px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1699-4
{
	z-index: 33;
	width: 770px;
	min-height: 36px;
	line-height: 34px;
	color: #11BCF4;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 29px;
	position: relative;
}

#u1718-4
{
	z-index: 37;
	width: 770px;
	min-height: 50px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u1749
{
	z-index: 42;
	width: 123px;
	margin-top: 12px;
	position: relative;
}

#u1748
{
	z-index: 43;
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #11BCF4;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1707-4
{
	z-index: 44;
	width: 86px;
	min-height: 15px;
	line-height: 14px;
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1705
{
	z-index: 48;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 98px;
}

#u1712
{
	z-index: 32;
	width: 800px;
	height: 12px;
	border-style: solid;
	border-color: #F1F1F1;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu1844-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 900px;
}

#u1844-4
{
	z-index: 195;
	width: 270px;
	min-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #11BCF4;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1845
{
	z-index: 199;
	width: 35px;
	height: 11px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1829
{
	z-index: 162;
	width: 270px;
	margin-top: 8px;
	position: relative;
}

#u1832-4
{
	z-index: 168;
	width: 114px;
	min-height: 18px;
	line-height: 12px;
	color: #11BCF4;
	font-size: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 74px;
	position: relative;
}

#u1833
{
	z-index: 172;
	width: 269px;
	height: 10px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1830
{
	z-index: 163;
	width: 54px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: #777777 url("../images/eye-766166_1280-u9522-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1831-4
{
	z-index: 164;
	width: 195px;
	min-height: 40px;
	background-color: transparent;
	line-height: 20px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1834
{
	z-index: 173;
	width: 270px;
	margin-top: 7px;
	position: relative;
}

#u1836-4
{
	z-index: 179;
	width: 114px;
	min-height: 18px;
	line-height: 12px;
	color: #11BCF4;
	font-size: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 75px;
	position: relative;
}

#u1835
{
	z-index: 183;
	width: 269px;
	height: 10px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1838
{
	z-index: 174;
	width: 54px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: #777777 url("../images/medic-563423_1280-u9528-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1837-4
{
	z-index: 175;
	width: 195px;
	min-height: 40px;
	background-color: transparent;
	line-height: 20px;
	color: #666666;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1839
{
	z-index: 184;
	width: 270px;
	margin-top: 7px;
	position: relative;
}

#pu1832-4,#pu1836-4,#pu1841-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 1px;
}

#u1841-4
{
	z-index: 190;
	width: 114px;
	min-height: 18px;
	line-height: 12px;
	color: #11BCF4;
	font-size: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 75px;
	position: relative;
}

#u1842
{
	z-index: 194;
	width: 269px;
	height: 10px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1843
{
	z-index: 185;
	width: 54px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: #777777 url("../images/2-u9533-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1840-4
{
	z-index: 186;
	width: 195px;
	min-height: 40px;
	background-color: transparent;
	line-height: 20px;
	color: #666666;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1831-4:hover,#u1837-4:hover,#u1840-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u1831-4:hover p,#u1837-4:hover p,#u1840-4:hover p
{
	color: #666666;
	visibility: inherit;
}

#u1847-4
{
	z-index: 201;
	width: 270px;
	min-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #11BCF4;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 60px;
	position: relative;
}

#u1848
{
	z-index: 205;
	width: 35px;
	height: 11px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1849
{
	z-index: 206;
	width: 270px;
	margin-top: 21px;
	position: relative;
}

#u1851
{
	z-index: 207;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1850-4
{
	z-index: 208;
	width: 248px;
	min-height: 22px;
	background-color: transparent;
	line-height: 21px;
	color: #666666;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u1854
{
	z-index: 212;
	width: 270px;
	margin-top: 14px;
	position: relative;
}

#u1855
{
	z-index: 213;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1857-4
{
	z-index: 214;
	width: 248px;
	min-height: 22px;
	background-color: transparent;
	line-height: 21px;
	color: #666666;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u1858
{
	z-index: 218;
	width: 270px;
	margin-top: 14px;
	position: relative;
}

#u1859
{
	z-index: 219;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1861-4
{
	z-index: 220;
	width: 248px;
	min-height: 22px;
	background-color: transparent;
	line-height: 21px;
	color: #666666;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u1862
{
	z-index: 224;
	width: 270px;
	margin-top: 14px;
	position: relative;
}

#u1864
{
	z-index: 225;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1863-4
{
	z-index: 226;
	width: 248px;
	min-height: 22px;
	background-color: transparent;
	line-height: 21px;
	color: #666666;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u1866
{
	z-index: 230;
	width: 270px;
	margin-top: 14px;
	position: relative;
}

#u1867
{
	z-index: 231;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #666666;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1869-4
{
	z-index: 232;
	width: 248px;
	min-height: 22px;
	background-color: transparent;
	line-height: 21px;
	color: #666666;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u1850-4:hover,#u1857-4:hover,#u1861-4:hover,#u1863-4:hover,#u1869-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1850-4:hover p,#u1857-4:hover p,#u1861-4:hover p,#u1863-4:hover p,#u1869-4:hover p
{
	color: #11BCF4;
	visibility: inherit;
}

#u1804
{
	z-index: 72;
	width: 800px;
	margin-left: 15px;
	margin-top: 72px;
	position: relative;
}

#pu1796
{
	z-index: 82;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
}

#u1799-4
{
	z-index: 90;
	width: 152px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1767
{
	z-index: 99;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	left: 276px;
}

#u1797-4
{
	z-index: 100;
	width: 114px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u1800
{
	z-index: 73;
	width: 800px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/medic-563423_1280-u1800-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1765
{
	z-index: 94;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 423px;
	left: 235px;
}

#u1761-4
{
	z-index: 95;
	width: 75px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 423px;
	left: 260px;
}

#u1763
{
	z-index: 104;
	width: 70px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	background: #FFFFFF url("../images/11-u9721-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1795
{
	z-index: 105;
	width: 70px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #11BCF4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 697px;
}

#u1762-6
{
	z-index: 106;
	width: 70px;
	min-height: 46px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1764-4
{
	z-index: 74;
	width: 770px;
	min-height: 36px;
	line-height: 34px;
	color: #11BCF4;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 30px;
	position: relative;
}

#u1798-4
{
	z-index: 78;
	width: 770px;
	min-height: 50px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u1769
{
	z-index: 83;
	width: 123px;
	margin-top: 12px;
	position: relative;
}

#u1771
{
	z-index: 84;
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #11BCF4;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1770-4
{
	z-index: 85;
	width: 86px;
	min-height: 15px;
	line-height: 14px;
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u1772
{
	z-index: 89;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 98px;
}

#u1774
{
	z-index: 71;
	width: 800px;
	height: 12px;
	border-style: solid;
	border-color: #F1F1F1;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 13px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1805
{
	z-index: 112;
	width: 800px;
	margin-left: 15px;
	margin-top: 74px;
	position: relative;
}

#pu1806
{
	z-index: 122;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
}

#u1713,#u1796,#u1806
{
	z-index: 0;
	width: 798px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
	border-width: 0px 1px 1px;
}

#pu1701-4,#pu1799-4,#pu1814-4
{
	width: 0.01px;
	position: relative;
	left: 83px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 11px;
}

#u1814-4
{
	z-index: 130;
	width: 152px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1822
{
	z-index: 139;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	left: 276px;
}

#u1810-4
{
	z-index: 140;
	width: 114px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u1824
{
	z-index: 113;
	width: 800px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #7F7F7F url("../images/2.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1807
{
	z-index: 134;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 235px;
}

#u1816-4
{
	z-index: 135;
	width: 75px;
	min-height: 18px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 260px;
}

#u1815
{
	z-index: 144;
	width: 70px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	background: #FFFFFF url("../images/11-u9721-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1812
{
	z-index: 145;
	width: 70px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #11BCF4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 697px;
}

#u1813-6
{
	z-index: 146;
	width: 70px;
	min-height: 46px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1809-4
{
	z-index: 114;
	width: 770px;
	min-height: 36px;
	line-height: 34px;
	color: #11BCF4;
	font-size: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 30px;
	position: relative;
}

#u1811-4
{
	z-index: 118;
	width: 770px;
	min-height: 50px;
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u1817
{
	z-index: 123;
	width: 123px;
	margin-top: 12px;
	position: relative;
}

#u1821
{
	z-index: 124;
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #11BCF4;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u1818-4
{
	z-index: 125;
	width: 86px;
	min-height: 15px;
	line-height: 14px;
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u1819
{
	z-index: 129;
	width: 25px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 98px;
}

#u1846
{
	z-index: 200;
	width: 800px;
	height: 12px;
	border-style: solid;
	border-color: #F1F1F1;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu1825
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 83px;
	position: relative;
}

#u1825
{
	z-index: 152;
	width: 45px;
	position: relative;
	margin-right: -10000px;
}

#u1826
{
	z-index: 153;
	width: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #11BCF4;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1827-4
{
	z-index: 154;
	width: 24px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 11px;
}

#u1827-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 11px -10000px 0px 0px;
}

#u1827-4:hover p
{
	color: #FFB642;
	visibility: inherit;
}

#u1828-4
{
	z-index: 158;
	width: 24px;
	min-height: 24px;
	text-align: center;
	font-size: 18px;
	color: #666666;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 66px;
}

#u1870
{
	z-index: 236;
	width: 1400px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	left: -100px;
}

#pu1114
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1114
{
	z-index: 237;
	width: 1400px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#pu1115-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 115px;
}

#u1115-4
{
	z-index: 246;
	width: 270px;
	min-height: 22px;
}

#u1117
{
	z-index: 254;
	width: 35px;
	height: 11px;
	margin-top: 11px;
}

#u1116-4
{
	z-index: 250;
	width: 270px;
	min-height: 123px;
	margin-top: 9px;
}

#u1297
{
	z-index: 343;
	width: 269px;
	height: 10px;
	margin-top: 36px;
}

#pu1215
{
	width: 0.01px;
	margin-top: 17px;
	position: relative;
}

#u1215
{
	z-index: 238;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1216
{
	z-index: 239;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1218
{
	z-index: 240;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
	left: 43px;
}

#u1219
{
	z-index: 241;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1221
{
	z-index: 242;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
	left: 86px;
}

#u1222
{
	z-index: 243;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1302
{
	z-index: 244;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
	left: 129px;
}

#u1303
{
	z-index: 245;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1305
{
	z-index: 350;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
	left: 172px;
}

#u1306
{
	z-index: 351;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1308
{
	z-index: 352;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
	left: 215px;
}

#u1309
{
	z-index: 353;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#pu1166-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 415px;
}

#u1166-4
{
	z-index: 333;
	width: 270px;
	min-height: 22px;
}

#u1167
{
	z-index: 337;
	width: 35px;
	height: 11px;
	margin-top: 11px;
}

#u1118
{
	z-index: 255;
	width: 270px;
	margin-top: 8px;
}

#u1119
{
	z-index: 256;
	width: 54px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1120-4
{
	z-index: 257;
	width: 195px;
	min-height: 40px;
}

#u1122-4
{
	z-index: 261;
	width: 114px;
	min-height: 18px;
	margin-top: 4px;
}

#u1125
{
	z-index: 265;
	width: 269px;
	height: 10px;
	margin-left: 1px;
	top: -6px;
	margin-bottom: -6px;
}

#u1126
{
	z-index: 266;
	width: 270px;
	margin-top: 7px;
}

#u1128
{
	z-index: 267;
	width: 54px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1127-4
{
	z-index: 268;
	width: 195px;
	min-height: 40px;
}

#u1132-4
{
	z-index: 272;
	width: 114px;
	min-height: 18px;
	margin-top: 4px;
}

#u1133
{
	z-index: 276;
	width: 269px;
	height: 10px;
	margin-left: 1px;
	top: -6px;
	margin-bottom: -6px;
}

#u1134
{
	z-index: 277;
	width: 270px;
	margin-top: 7px;
}

#ppu1796,#ppu1806,#pu1119,#pu1128,#pu1141
{
	width: 0.01px;
	position: relative;
}

#u1141
{
	z-index: 278;
	width: 54px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu1120-4,#pu1127-4,#pu1135-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1135-4
{
	z-index: 279;
	width: 195px;
	min-height: 40px;
}

#u1120-4:hover,#u1127-4:hover,#u1135-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px;
}

#u1140-4
{
	z-index: 283;
	width: 114px;
	min-height: 18px;
	margin-top: 4px;
}

#u1136
{
	z-index: 287;
	width: 269px;
	height: 10px;
	margin-left: 1px;
	top: -6px;
	margin-bottom: -6px;
}

#pu1164-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 715px;
}

#u1164-4
{
	z-index: 328;
	width: 266px;
	min-height: 22px;
}

#u1165
{
	z-index: 332;
	width: 35px;
	height: 11px;
	margin-top: 11px;
}

#pu1197-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 1015px;
}

#u1197-4
{
	z-index: 384;
	width: 266px;
	min-height: 22px;
}

#u1198
{
	z-index: 388;
	width: 35px;
	height: 11px;
	margin-top: 11px;
}

#pu1200
{
	width: 0.01px;
	margin-top: 8px;
	position: relative;
}

#u1200
{
	z-index: 358;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1201
{
	z-index: 359;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1199-4
{
	z-index: 354;
	width: 220px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 50px;
}

#u1204
{
	z-index: 364;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1205
{
	z-index: 365;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1203-4
{
	z-index: 360;
	width: 220px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 50px;
}

#u1208
{
	z-index: 370;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1209
{
	z-index: 371;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1207-4
{
	z-index: 366;
	width: 220px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 50px;
}

#pu1204,#pu1208,#pu1212
{
	width: 0.01px;
	margin-top: 14px;
	position: relative;
}

#u1212
{
	z-index: 382;
	width: 30px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1213
{
	z-index: 383;
	width: 18px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u1211-10
{
	z-index: 372;
	width: 220px;
	min-height: 84px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 50px;
}

#widgetu1142
{
	z-index: 288;
	width: 0.01px;
	height: 206px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 715px;
}

#widgetu1158
{
	z-index: 289;
	width: 268px;
	height: 40px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#widgetu1158.fld-err-st
{
	margin: -1px -10000px 0px 0px;
}

#u1160-4
{
	z-index: 290;
	width: 246px;
	min-height: 18px;
	padding: 11px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1158:hover #u1160-4
{
	padding-top: 11px;
	padding-bottom: 11px;
	min-height: 18px;
	width: 246px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1158.focus-st #u1160-4
{
	padding-top: 11px;
	padding-bottom: 11px;
	min-height: 18px;
	width: 246px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1143
{
	z-index: 294;
	width: 268px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 1px;
}

#widgetu1143.fld-err-st
{
	margin: 59px -10000px 0px 0px;
}

#u1145-4
{
	z-index: 295;
	width: 246px;
	min-height: 18px;
	padding: 11px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1158.fld-err-st #u1160-4,#widgetu1143:hover #u1145-4
{
	padding-top: 11px;
	padding-bottom: 11px;
	min-height: 18px;
	width: 246px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1143.focus-st #u1145-4
{
	padding-top: 11px;
	padding-bottom: 11px;
	min-height: 18px;
	width: 246px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1143.fld-err-st #u1145-4
{
	padding-top: 11px;
	padding-bottom: 11px;
	min-height: 18px;
	width: 246px;
	margin: -1px -10000px -1px 0px;
}

#widgetu1158_input,#widgetu1158_prompt,#widgetu1143_input,#widgetu1143_prompt
{
	width: 246px;
	min-height: 18px;
	padding: 11px;
}

#widgetu1158:hover #widgetu1158_input,#widgetu1158.focus-st #widgetu1158_input,#widgetu1158.fld-err-st #widgetu1158_input,#widgetu1158:hover #widgetu1158_prompt,#widgetu1158.focus-st #widgetu1158_prompt,#widgetu1158.fld-err-st #widgetu1158_prompt,#widgetu1143:hover #widgetu1143_input,#widgetu1143.focus-st #widgetu1143_input,#widgetu1143.fld-err-st #widgetu1143_input,#widgetu1143:hover #widgetu1143_prompt,#widgetu1143.focus-st #widgetu1143_prompt,#widgetu1143.fld-err-st #widgetu1143_prompt
{
	padding-top: 11px;
	padding-bottom: 11px;
}

#u1157-4
{
	z-index: 299;
	width: 270px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 181px;
}

#u1155-4
{
	z-index: 303;
	width: 270px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 181px;
}

#u1163-4
{
	z-index: 307;
	width: 270px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 181px;
}

#widgetu1142.frm-sub-st #u1157-4,#widgetu1142.frm-subm-err-st #u1155-4,#widgetu1142.frm-subm-ok-st #u1163-4
{
	min-height: 25px;
}

#u1156-17
{
	z-index: 311;
	min-height: 41px;
	width: 134px;
	margin-right: -10000px;
	margin-top: 120px;
}

#u1298
{
	z-index: 344;
	width: 86px;
	margin-right: -10000px;
	margin-top: 243px;
	left: 115px;
}

#u1299
{
	z-index: 349;
	width: 17px;
	min-height: 22px;
	top: 2902px;
	left: 50%;
	margin-left: -499px;
}

#u1301-4
{
	z-index: 345;
	width: 86px;
	min-height: 20px;
	margin-right: -10000px;
}

#u1311
{
	z-index: 389;
	width: 269px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 130px;
	left: 1016px;
}

#u1312
{
	z-index: 390;
	width: 269px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 1016px;
}

#u1313
{
	z-index: 391;
	width: 269px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 1015px;
}

#u1224
{
	z-index: 338;
	width: 1400px;
	padding-bottom: 30px;
	left: -100px;
}

#u69_align_to_page,#u1114_align_to_page,#u1224_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u1225-4
{
	z-index: 339;
	width: 400px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 115px;
}

#menuu1315
{
	z-index: 392;
	width: 500px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 785px;
}

#u1323
{
	width: 81px;
	min-height: 26px;
	margin-right: -10000px;
}

#u1316
{
	width: 81px;
	min-height: 26px;
	margin-right: -10000px;
	left: 83px;
}

#u1324,#u1319
{
	width: 81px;
}

#u1325-4,#u1322-4
{
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
}

#u1344
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
	left: 166px;
}

#u1337
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
	left: 250px;
}

#u1363
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
	left: 334px;
}

#u1330
{
	width: 82px;
	min-height: 26px;
	margin-right: -10000px;
	left: 418px;
}

#u1345,#u1338,#u1364,#u1333
{
	width: 82px;
}

#u1346-4,#u1341-4,#u1367-4,#u1334-4
{
	width: 82px;
	min-height: 14px;
	margin-right: -10000px;
}

body
{
	padding-bottom: 85px;
}

#page .verticalspacer
{
	clear: both;
}

