<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Health Care, health" />
<meta name="description" content="Health Care HTML Template" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- favicon links -->
<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
<link rel="icon" type="image/ico" href="favicon.ico" />
<!--Google web fonts-->


<!-- main css -->
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>
<!--page title-->
<title>Health Care HTML Template</title>
</head>
<body>

<!--header start-->
<header id="hs_header">
  <div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <div id="hs_logo" > <a href="index-2.html"> <img src="images/logo.png" alt=""> </a> </div>
          <!-- #logo --> 
        </div>
        <div class="col-lg-8 col-md-8 col-sm-10">
          <button type="button" class="hs_nav_toggle navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu<i class="fa fa-bars"></i></button>
          <nav>
            <ul class="hs_menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <li><a href="index.html">Home</a></li>
              <!-- <li><a class="active">Home</a>
                <ul>
                  <li><a href="index1.html">home 1</a></li>
                  <li><a href="one-page.html">One Page</a></li>
                </ul>
              </li> -->
              <li><a href="about.html">about</a></li>
             <!--  <li><a>services</a>
                <ul>
                  <li><a href="services.html">Pediatric Clinic</a></li>
                  <li><a href="services.html">Dental Clinic</a></li>
                  <li><a href="services.html">General Surgery</a></li>
                  <li><a href="services.html">Physiotherapy</a></li>
                  <li><a href="services.html">Pregnancy Care</a></li>
                </ul>
              </li> -->
              <!-- <li><a>pages</a>
                <ul>
                  <li><a>Blog</a>
                    <ul>
                      <li><a href="blog-categories.html">Blog Categories</a></li>
                      <li><a href="blog-single-post.html">Blog Single Post</a></li>
                      <li><a href="blog-single-post-leftsidebar.html">Blog Leftsidebar</a></li>
                      <li><a href="blog-single-post-rightsidebar.html">Blog Rightsidebar</a></li>
                    </ul>
                  </li> -->
                  <!-- <li><a>services</a>
                    <ul>
                      <li><a href="services-two-column.html">services Two Column</a></li>
                      <li><a href="services.html">services Three Column</a></li>
                      <li><a href="services-four-column.html">services Four Column</a></li>
                    </ul>
                  </li> -->
					<li><a href="profile.html">Products</a></li>
					<li><a href="services-four-column.html">Photo Gallery</a></li>
                  <!-- <li><a>profile</a>
                    <ul>
                      <li><a href="profile-single.html">Products</a></li>
                    </ul>
                  </li> -->
                  <!-- <li><a href="elements.html">Elements</a></li>
                  <li><a href="typography.html">Typography</a></li>
                  <li><a href="columns.html">columns</a></li>
                  <li><a href="icon.html">icon</a></li>
                                  </ul>
                                </li> -->
              <!-- <li><a href="profile.html">our profile</a></li> -->
              <!-- <li><a href="blog-categories.html">our blog</a></li> -->
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <div class="hs_social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" id="hs_search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
          <div class="hs_search_box">
            <form class="form-inline" role="form">
              <div class="form-group has-success has-feedback">
                <input type="text" class="form-control" id="inputSuccess4" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span> </div>
            </form>
          </div>
          
          <!-- #logo --> 
        </div>
    </div>
    <!-- .row --> 
  </div>
  <!-- .container --> 
  
</header>
<!--header end-->
<div class="hs_page_title">
  <div class="container">
    <h3>about us</h3>
    <ul>
      <li><a href="index-2.html">Home</a></li>
      <li><a href="about.html">about us</a></li>
    </ul>
  </div>
</div>
<div class="container"> 
  <!--who we are start-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="hs_heading">Who We Are</h4>
      <div class="row hs_how_we_are">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-7 col-md-6 col-sm-12"> <img src="https://dummyimage.com/665x309/5c595c/fff.png&text=665+X+309" alt="" /> </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="hs_how_we_are_text">
              <h4>Weaving Finest Quality is Our Moto</h4>
			  <br>
              <p>Our hard work, dedication and perseverance has earned us the distinction manufacturing more products, such as White &ColouredDhoties, Lungies, Towels.</p>
				<p>Using advanced power loom and auto loom equipment, including jacquard looms we produce various fabrics on time and we are still committed to our belief that if you combine quality cotton, continually advancing technology with innovative design, you will deliver the finest products to the customer consistently.
			</p>
              <!-- <a href="#" class="btn btn-default">Read More</a> --> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--who we are end--> 
  
  <!--Health Care Team start-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="hs_heading">We Are Best At</h4>
      <div class="our_doctor_team">
        <div id="health_care_team_slider" class="owl-carousel owl-theme">
          <div class="health_care_team_slider_item"> <img src="https://dummyimage.com/340x340/5c595c/fff.png&text=340+X+340" alt="" />
            <div class="hs_team_member_detail"> <a href="#">
              <h4>Product Title</h4>
              </a>
              <p>Chairperson</p>
              <hr>
              <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
            </div>
          </div>
          <div class="health_care_team_slider_item"> <img src="https://dummyimage.com/340x340/5c595c/fff.png&text=340+X+340" alt="" />
            <div class="hs_team_member_detail"> <a href="#">
              <h4>Product Title</h4>
              </a>
              <p>Director</p>
              <hr>
              <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
            </div>
          </div>
          <div class="health_care_team_slider_item"> <img src="https://dummyimage.com/340x340/5c595c/fff.png&text=340+X+340" alt="" />
            <div class="hs_team_member_detail"> <a href="#">
              <h4>Product Title</h4>
              </a>
              <p>Head Of Department</p>
              <hr>
              <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
            </div>
          </div>
          <div class="health_care_team_slider_item"> <img src="https://dummyimage.com/340x340/5c595c/fff.png&text=340+X+340" alt="" />
            <div class="hs_team_member_detail"> <a href="#">
              <h4>Product Title</h4>
              </a>
              <p>Surgeon</p>
              <hr>
              <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
            </div>
          </div>
          <div class="health_care_team_slider_item"> <img src="https://dummyimage.com/340x340/5c595c/fff.png&text=340+X+340" alt="" />
            <div class="hs_team_member_detail"> <a href="#">
              <h4>Product Title</h4>
              </a>
              <p>Chairperson</p>
              <hr>
              <p>Donec suscipit, nulla nec dapib arcu arcu sodales urna, nec auctor odio </p>
            </div>
          </div>
        </div>
        <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div>
      </div>
    </div>
  </div>
  <!--Health Care Team end-->
  
  
  <!--Releted Post start-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="hs_heading">Our Team</h4>
      <div class="releted_post">
        <div id="releted_post_slider" class="owl-carousel owl-theme">
          <div class="releted_post_slider_item">
            <div class="row">
              <!-- <div class="col-lg-2">
                <div class="related_post_date">
                  <h3>01</h3>
                  <p>dec</p>
                </div>
              </div> -->
              <div class="col-lg-10"> <img src="https://dummyimage.com/301x172/5c595c/fff.png&text=301+X+172" alt="" />
                <div class="releted_post_detail">
                  <h4>Mr K C Murugesan</h4>
                  <p><i class="fa fa-pencil-square-o"></i> proprietor</p>
                  <p> He has more than 40 years’ experience in textile
					industry. </p>
                  <a href="#" class="btn btn-default">Read More</a> </div>
              </div>
            </div>
          </div>
          <div class="releted_post_slider_item">
            <div class="row">
              <!-- <div class="col-lg-2">
                <div class="related_post_date">
                  <h3>02</h3>
                  <p>dec</p>
                </div>
              </div> -->
              <div class="col-lg-10"> <img src="https://dummyimage.com/301x172/5c595c/fff.png&text=301+X+172" alt="" />
                <div class="releted_post_detail">
                  <h4>Mr K C Duraisamy</h4>
                  <p><i class="fa fa-pencil-square-o"></i> Designation will be updated</p>
                  <p>He has 30 years’ experience in textile industry.</p>
                  <a href="#" class="btn btn-default">Read More</a> </div>
              </div>
            </div>
          </div>
          <div class="releted_post_slider_item">
            <div class="row">
              <!-- <div class="col-lg-2">
                <div class="related_post_date">
                  <h3>22</h3>
                  <p>dec</p>
                </div>
              </div> -->
              <div class="col-lg-10"> <img src="https://dummyimage.com/301x172/5c595c/fff.png&text=301+X+172" alt="" />
                <div class="releted_post_detail">
                  <h4>K C Thangaraj</h4>
                  <p><i class="fa fa-pencil-square-o"></i> Designation will be updated</p>
                  <p>He has 30 years’ experience in textile industry.</p>
                  <a href="#" class="btn btn-default">Read More</a> </div>
              </div>
            </div>
          </div>
          <!-- <div class="releted_post_slider_item">
            <div class="row">
              <div class="col-lg-2">
                <div class="related_post_date">
                  <h3>28</h3>
                  <p>dec</p>
                </div>
              </div>
              <div class="col-lg-10"> <img src="https://dummyimage.com/301x172/5c595c/fff.png&text=301+X+172" alt="" />
                <div class="releted_post_detail">
                  <h4>Etiam malesuada viverra</h4>
                  <p><i class="fa fa-pencil-square-o"></i> faucibus dui varius</p>
                  <p>Quisque ac quamsuellentesque vestibulum at in sa. Etiam eget fringilla quam. </p>
                  <a href="#" class="btn btn-default">Read More</a> </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="customNavigation text-right"> <a class="btn_prev prev"><i class="fa fa-chevron-left"></i></a> <a class="btn_next next"><i class="fa fa-chevron-right"></i></a> </div> -->
      </div>
    </div>
  </div>
  <!--Releted Post end-->
  <div class="hs_margin_40"></div>
</div>
<!--footer start-->
<footer id="hs_footer">
  <!-- <div class="container">
    <div class="hs_footer_content">
      <div class="row">
        <div class="col-lg-12">
          <div class="hs_footer_menu">
            <ul>
              <li><a href="index-2.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="blog-categories.html">Blog</a></li>
              <li><a href="profile.html">Our profile</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <div class="hs_footer_about_us">
              <div class="col-lg-3 col-md-4 col-sm-12 col-md-12 col-sm-12">
                <h4 class="hs_heading">About Us</h4>
                <a href="index-2.html"><img src="images/logo.png" alt="logo" width="180" height="41" /></a> </div>
              <div class="col-lg-9 col-md-8 col-sm-12 hs_about_us">
                <div class="hs_margin_60"></div>
                <p>Aenean facilisis sodales est neciMorbi vitapurus on Est facilisisro convallis commodo velante, tiam ltricies lputate.Aenean facilisis sodales est neciMorbi vitapurus on Est facilisisro convallis commodo velante, tiam ltricies lputate. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12">
              <h4 class="hs_heading">Get in touch !</h4>
              <div class="hs_contact_detail">
                <p><i class="fa fa-map-marker"></i> 13/2 Elizabeth Street Melbourne VIC 3000, Australia</p>
                <p><i class="fa fa-mobile-phone"></i> +61 3 8376 6284</p>
                <div class="clearfix"></div>
                <div class="hs_social">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-9 col-sm-12">
              <h4 class="hs_heading">Useful Links</h4>
              <div class="clearfix"></div>
              <div class="hs_footer_link">
                <ul>
                  <li><a href="services.html">Pediatric Clinic</a></li>
                  <li><a href="services.html">Dental Clinic</a></li>
                  <li><a href="services.html">General Surgery</a></li>
                  <li><a href="services.html">Physiotherapy</a></li>
                  <li><a href="services.html">Ltricies lputate</a></li>
                </ul>
              </div>
              <div class="hs_footer_link">
                <ul>
                  <li><a href="blog-categories.html">Blog Categories</a></li>
                  <li><a href="services-two-column.html">services Two Column</a></li>
                  <li><a href="blog-single-post.html">Blog Single Post</a></li>
                  <li><a href="services.html">services Three Column</a></li>
                  <li><a href="blog-single-post-leftsidebar.html">Blog Leftsidebar</a></li>
                </ul>
              </div>
              <div class="hs_footer_link">
                <ul>
                  <li><a href="blog-single-post-rightsidebar.html">Blog Rightsidebar</a></li>
                  <li><a href="typography.html">Typography</a></li>
                  <li><a href="elements.html">Elements</a></li>
                  <li><a href="columns.html">columns</a></li>
                  <li><a href="icon.html">icon</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <h4 class="hs_heading">Twitter Widget</h4>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 hs_twitter_widget">
              <ul>
                <li> <i class="fa fa-twitter"></i> <a href="#">
                  <p>@healthcare...  Suspende potenti. Etiam ullamcorper scelerisque bibendumonec cursus,  eleifend semper. <br>
                    <br>
                    <strong>17 hours ago</strong> </p>
                  </a> </li>
                <li> <i class="fa fa-twitter"></i> <a href="#">
                  <p>@Hsoftindia...  Suspende potenti. Etiam ullamcorper scelerisque bibendumonec cursus,  eleifend semper. <br>
                    <br>
                    <strong>2 min ago</strong> </p>
                  </a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</footer>
<div class="hs_copyright"> Copyright © 2018 Touchsky  All Rights Reserved </div>
<!--footer end--> 
<!--main js file start--> 
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/owl.carousel.js"></script> 
<script type="text/javascript" src="js/jquery.bxslider.js"></script> 
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script> 
<script type="text/javascript" src="js/smoothscroll.js"></script> 
<script type="text/javascript" src="js/single-0.1.0.js"></script> 
<script type="text/javascript" src="js/custom.js"></script> 
<!--main js file end-->
</body>

<!-- Mirrored from kamleshyadav.com/healthcare/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Jul 2016 08:44:42 GMT -->

<!-- Mirrored from www.boomingbiomedicals.com/beta10/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Feb 2018 05:10:15 GMT -->
</html>
